<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <div class="main section" id="main">
        <div class="widget Blog" id="Blog1">
            <div id="list-main">
                <div class="post-div">
                    <h2 class="post-title">
                        <a href="link" title="Post title">Post title</a>
                    </h2>

                    <div class="post-header-home">
                        <span class="post-author vcard">
                            <i class="fa fa-user"></i>
                            <span class="fn">Author</span>
                        </span>
                    </div>

                    <div class="homepage-thumb">
                        <div class="post">
                            <div>
                                <a href="#">
                                    <span style="float:left; margin-right: 10px;width:250px;height:200px;background: url(http://3.bp.blogspot.com/-lwySqlD99X8/UySHFgLQtxI/AAAAAAAAAXM/wV_0QtuQlJU/s1600/mini-tumblr_n21m2rUrrD1st5lhmo1_1280.jpg) center 0 no-repeat transparent;background-size: 250px auto;">
                                    </span>
                                </a>

                                <div>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    Duis autem...
                                </div>
                            </div>

                            <div class="s-clear"></div>

                            <div class="rmlink">
                                <a href="#">
                                    Read More
                                </a>
                            </div>

                            <div class="s-clear"></div>
                        </div>
                    </div>

                    <div class="post-header-label">
                        <span class="post-timestamp">
                            <i class="fa fa-clock-o"></i>
                            <abbr class="published" title="time">
                                Saturday, March 15, 2014
                            </abbr>
                        </span>
                        <span class="post-labels">
                            <i class="fa fa-tags"></i>
                            <a href="http://simpleblogbt.blogspot.fi/search/label/Blog" rel="tag">
                                Categories
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="blog-pager" id="blog-pager">
                        <div class="blogger-pager">
                            <span class="blog-pager-p">1</span>
                            <span class="blog-pager-element">
                                <a href="#">2</a>
                            </span>
                            <span class="blog-pager-element">
                                <a href="#">3</a>
                            </span>
                            <span class="blog-pager-element">
                                <a href="#">Next</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

        </div>
    </div>
    <!-- END Loop -->
</div>
<!-- END Content -->
